{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you starting a new application?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorHaveVerified %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorHaveVerified %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="haveVerified-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Have all company directors verified their identity and received a Companies House user ID? 
            </h1>
          </legend>
          <!-- Check for error -->
          {% if errorHaveVerified %}
          <p id="haveVerified-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if all the directors have verified their identity
          </p>
          {% endif %} 

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="haveVerified" name="haveVerified" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="haveVerified">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="haveVerified-2" name="haveVerified" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="haveVerified-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is a Companies House user ID?
          </span>
        </summary>
        <div class="govuk-details__text">
          This is a code sent to each director once they have verified their 
          identity for Companies House. They need to share it with you, as 
          you’ll be asked to provide it when registering the company.  
        </div>
      </details>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}