{% extends "layouts/main.html" %}

{% block pageTitle %}
  RLE name
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorRleName %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <h1 class="govuk-heading-l">What is the corporate body name?</h1>

    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorRleName %}
        <div class="govuk-form-group govuk-form-group--error">
      {% else %}
        <div class="govuk-form-group">
      {% endif %} 
          <label class="govuk-label" for="rleName">
            Corporate body name
          </label>
          <!-- Check for error -->
        {% if errorRleName %}
          <p id="rleName-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the corporate body name
          </p>
        {% endif %} 
          <input class="govuk-input govuk-!-width-two-thirds" id="rleName" name="rleName" type="text">
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}