{% extends "layouts/main.html" %}

{% block pageTitle %}
  Right to appoint or remove
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorRleRightAppoint %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorRleRightAppoint %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="rleRightAppoint-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

            <h1 class="govuk-fieldset__heading">
              Does {{ data['rleName']| uppercase }}
              have the right to appoint or remove the majority of company directors?
            </h1>
          
          </legend>
          <div id="rleRightAppoint-hint" class="govuk-hint">
            This is the right to be involved in making the decision to appoint or remove directors, 
            either with others or alone.
          </div>
          <!-- Check for error -->
          {% if errorRleRightAppoint %}
          <p id="rleRightAppoint-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if the RLE has the right to appoint or remove directors
          </p>
          {% endif %} 

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rleRightAppoint" name="rleRightAppoint" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="rleRightAppoint">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rleRightAppoint-2" name="rleRightAppoint" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="rleRightAppoint-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}