{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm address
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Confirm the correspondence address for {{ data['directorTitle']}} {{ data['directorFirstName']}} {{ data['directorMiddleName']}} {{ data['directorLastName']}}</h1>

    <p class="govuk-body">10 Old Street<br>Parkland<br>Townville<br>England<br>XX1 ZZ2</p>

    <p class="govuk-body govuk-!-margin-bottom-9"><a href="#" class="govuk-link">Change</a></p>

    <form action="{{currentUrl}}" method="post">

      {{ govukButton({
        text: "Confirm and continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}