{% extends "layouts/main.html" %}

{% block pageTitle %}
  Do you have the details of {{ data['rleName']| uppercase }}'s relevant officer – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorRoHaveDetails %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}

    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorRoHaveDetails %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="roHaveDetails-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you have the details of {{ data['shareholderCorporateName']| uppercase }}'s relevant officer?
            </h1>
          </legend>
          <div id="roHaveDetails-hint" class="govuk-hint">
            This includes their full name, date of birth and Companies House personal code.
          </div>
          <!-- Check for error -->
          {% if errorRoHaveDetails %}
          <p id="roHaveDetails-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>Select yes if you have the details of the relevant legal entity's relevant officer
          </p>
          {% endif %} 

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="roHaveDetails" name="roHaveDetails" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="roHaveDetails">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="roHaveDetails-2" name="roHaveDetails" type="radio" value="no" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="roHaveDetails-2">
                No
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
              <p class="govuk-body">The relevant legal entity will have 28 days from the date this filing is 
                accepted to provide its relevant officer's details to Companies House.</p>
            </div>
          </div>
        </fieldset>
      </div>


     <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Who can be a relevant officer
          </span>
        </summary>
        <div class="govuk-details__text">
          The relevant officer must be a director of the entity, or someone whose roles and responsibilities correspond to that of a company director. They must be aged 16 or over.
        </div>
      </details>


      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
