{% extends "layouts/main.html" %}

{% block pageTitle %}
  Create a Government Gateway 
{% endblock %}

{% set serviceName %}
  Government Gateway
{% endset %}

{% block beforeContent %}
  {% include "includes/welsh-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="{{currentUrl}}" method="post">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Your Government Gateway user ID is:
        </h1>
        <div class="govuk-panel__body">
          12 34 56 78 90 12
        </div>
      </div>

      <p class="govuk-body">We have sent it to {{ data['gatewayEmail'] }}.
      </p>

      <p class="govuk-body">You will need your user ID and your password each time you sign in to Government Gateway.</p>

      <p class="govuk-body govuk-!-font-weight-bold">Never share your Government Gateway user ID or password with anyone else.</p>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}