{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
  <div class="app-step-nav-header">
    <span class="app-step-nav-header__part-of">Part of</span>
    <a class="app-step-nav-header__title" href="#">
      Set up a limited company: step by step
    </a>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Register your company
      </h1>

      <p class="govuk-body">Use this service to register your company 
        with Companies House. You will be registered for Corporation Tax 
        at the same time.</p>

      <div class="govuk-inset-text">
        There’s a different way to <a href="#" class="govuk-link">register for Corporation Tax</a> using an agent if you’ve already registered with Companies House.
      </div>

      <h3 class="govuk-heading-m">Identity verification</h3>

       <h4 class="govuk-heading-s">Company directors</h4>

      <p class="govuk-body">All company directors need to have verified their identity for Companies 
        House before the company can be registered. This is to confirm that they are who they say they are.  
      </p>

      <p class="govuk-body grey-box"><b><a class="govuk-link" href="https://prove-your-identity-prototype.herokuapp.com/release1-v5/pre-one-login/start" target="blank">
        Verify your identity for Companies House (opens in a new tab)</a>.</b>
      </p>

      <p class="govuk-body">When each director has successfully verified their 
        identity, we will give them a Companies House personal code.  
      </p>

      <div class="govuk-inset-text">
        You'll need to provide each director’s Companies House personal code as part of this registration, so that we can connect their verified identity to our records.  
      </div>

      <h4 class="govuk-heading-s">People with significant control (PSCs)</h4>

      <p class="govuk-body">All PSCs of a company need to verify their identity with Companies House.</p>

      <p class="govuk-body">You should provide their Companies House personal code as part of this registration, if you have it.</p>

      <p class="govuk-body">If you do not, the PSC will have 14 days from the company's incorporation date to provide their code.</p>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What identity verification is needed if the PSC is a company
    </span>
  </summary>
  <div class="govuk-details__text">
          <p class="govuk-body">If the PSC is a company, we refer to it as a relevant legal entity (RLE). 

         <p class="govuk-body">RLEs need to provide details of a relevant officer, who will need to verify their identity with Companies House.</p>
          
          <p class="govuk-body"><a href="#">Find out more about who can be a relevant officer.</a></p>
          
          <p class="govuk-body">As part of this registration, we'll ask for their:</p>

        <ul class="govuk-list govuk-list--bullet">
        <li>full name</li>
        <li>date of birth</li>
        <li>Companies House personal code</li>
      </ul></p>

      <p class="govuk-body">If you do not provide these details as part of the registration, the RLE will have 28 days from the company's incorporation date to provide its relevant officer's details.</p>
  </div>
</details>


      <h3 class="govuk-heading-m">What company information you need to provide </h3>

      <p class="govuk-body">When registering a company, you’ll need to provide details about all its directors, company secretaries and people with significant control. This includes:  </p>
  
      <ul class="govuk-list govuk-list--bullet">
        <li>full name</li>
        <li>date of birth</li>
        <li>address</li>
        <li>nationality</li>
        <li>job title</li>
      </ul>
      

      <h3 class="govuk-heading-m">Using this service</h3>

      <p class="govuk-body">Registering a company costs £12 and can be paid by debit or credit card. 
        Your company is usually registered within 24 hours. 
      </p>

      <p class="govuk-body">In this service, you can also: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>register for PAYE to tell HMRC you’re employing staff (including yourself if you’re the only director)</li>
        <li>continue an application if you’ve already started registering</li>
      </ul>

      <p class="govuk-body">        If you do not want to use ‘limited’ in your company 
        name you must register by post.</p>

      <p class="govuk-body">Once the company is registered, you’ll get a ‘certificate of 
        incorporation’. This confirms the company legally exists and shows
         the company number and date of formation. </p>

      {{ govukButton({
        text: "Register now",
        href: "create-or-sign-in",
        isStartButton: true
      }) }}

      <p class="govuk-body">You’ll need to create a Government Gateway 
        user ID and password for your company when you register it. You 
        cannot use your personal Government Gateway ID.</p>

      <h1 class="govuk-heading-l">Other ways to register</h1>

      <p class="govuk-body">You can also register:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>by post</li>
        <li><a href="#" class="govuk-link">using an agent</a></li>
        <li><a href="#" class="govuk-link">using third-party software</a></li>
      </ul>

      <p class="govuk-body">You’ll also need to <a href="#" class="govuk-link">register for Corporation 
        Tax</a> within 3 months of starting to do business.</p>

      <h3 class="govuk-heading-s">Register by post</h3>

      <p class="govuk-body">You can <a href="#" class="govuk-link">register by post using form IN01</a>.</p>

      <p class="govuk-body">Postal applications take 8 to 10 days and cost £40 (paid by 
        cheque made out to ‘Companies House’).</p>

      <p class="govuk-body">Send your application to the address on the form.</p>

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Part of</span>
        <a href="#">
          Set up a limited company: step by step
        </a>
      </h2>
    </div>

    <div data-module="appstepnav"id="step-by-step-navigation" class="app-step-nav govuk-!-display-none-print js-hidden" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps" data-hide-all-text="Hide all steps">
      <ol class="app-step-nav__steps">

        <li class="app-step-nav__step js-step app-step-nav__step--active" aria-current="step" id="check-limited-company">
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 1<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Check if setting up a limited company is right for you
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-check-limited-company-1">
            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="1.1" class="app-step-nav__link js-link" href="#">Check what a private limited company is</a>
              </li>
            </ol>

            <p class="app-step-nav__paragraph">How you set up your business depends on what sort of work you do. It can also affect the way you pay tax and get funding.</p>

            <p class="app-step-nav__paragraph">Check if you should set up as one of the following instead:</p>

            <ul class="app-step-nav__list govuk-list--bullet" data-length="3">
              <li class="app-step-nav__list-item js-list-item">
                <a data-position="2.1" class="app-step-nav__link" href="#">self-employed ('sole trader')</a>
              </li>
              <li class="app-step-nav__list-item js-list-item">
                <a data-position="2.2" class="app-step-nav__link" href="#">a business partnership
                </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="2.3" class="app-step-nav__link js-link" href="#">a social enterprise</a>
              </li>
              <li class="app-step-nav__list-item js-list-item">
                <a data-position="2.4" class="app-step-nav__link" href="#">an overseas company</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="2.5" class="app-step-nav__link js-link" href="#">an unincorporated association</a>
              </li>
            </ul>

            <ol class="app-step-nav__list" data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a class="govuk-link" href="#">Get help deciding how to set up your business</a>
              </li>
            </ol>

          </div>

        </li>
        <li class="app-step-nav__step js-step" id="choose-a-name">
          <div class="app-step-nav__header js-toggle-panel" data-position="2">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 2<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Choose a name
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-choose-a-name-2">
            <ul class="app-step-nav__list govuk-list--bullet" data-length="3">
              <li class="app-step-nav__list-item js-list-item">
                <a data-position="1.1" class="app-step-nav__link" href="#">Check the rules for company names</a>
              </li>
              <li class="app-step-nav__list-item js-list-item">
                <a data-position="1.2" class="app-step-nav__link" href="#">Check if the name you want is available
                </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="1.3" class="app-step-nav__link js-link" href="#">Check existing trade marks</a>
              </li>
            </ul>

          </div>

        </li>
        <li class="app-step-nav__step js-step" id="choose-directors">
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 3<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Choose directors and a company secretary
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-choose-directors-3">
            <p class="app-step-nav__paragraph">You must appoint a director but you do not have to appoint a company secretary.</p>

            <ol class="app-step-nav__list " data-length="4">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="3.1" class="app-step-nav__link js-link" href="#">Find out what directors are responsible for</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="3.2" class="app-step-nav__link js-link" href="#">Check who can be a director or company secretary</a>
              </li>
            </ol>

          </div>

        </li>
        <li class="app-step-nav__step js-step" id="shareholders">
          <div class="app-step-nav__header js-toggle-panel" data-position="4">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 4<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Decide who the shareholders or guarantors are
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-shareholders-4">
            <p class="app-step-nav__paragraph">You need at least one shareholder or guarantor, who can be a director.</p>

            <ol class="app-step-nav__list " data-length="5">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="4.1" class="app-step-nav__link js-link" href="#">Check if you’ll need to issue shares or set a 'guaranteed amount'</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="4.2" class="app-step-nav__link js-link" href="#">Find out how dividends from shares are taxed</a>
              </li>
            </ol>

          </div>

        </li>
        <li class="app-step-nav__step js-step" id="psc">
          <div class="app-step-nav__header js-toggle-panel" data-position="5">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 5<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Identify people with significant control (PSC) over your company
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-psc-5">
            <p class="app-step-nav__paragraph">For example, anyone with voting rights or more than 25% of the shares.</p>

            <ol class="app-step-nav__list " data-length="5">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.5" class="app-step-nav__link js-link" href="#">Find out what counts as a PSC</a>
              </li>
            </ol>

          </div>

        </li>
        <li class="app-step-nav__step js-step" id="prepare-documents">
          <div class="app-step-nav__header js-toggle-panel" data-position="6">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 6<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Prepare documents agreeing how to run your company
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-prepare-documents-7">
            <p class="app-step-nav__paragraph">You need to prepare a 'memorandum of association' and 'articles of association'.</p>

            <p class="app-step-nav__paragraph">You must have an insurance policy that allows you to drive without supervision.</p>

            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="6.1" class="app-step-nav__link js-link" href="#">Find out how to create a memorandum and articles of association</a>
              </li>
            </ol>

          </div>

        </li>
        <li class="app-step-nav__step js-step" id="records">
          <div class="app-step-nav__header js-toggle-panel" data-position="7">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 7<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Check what records you'll need to keep
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-records-7">

            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="7.1" class="app-step-nav__link js-link" href="#">Check the company and accounting records you must keep</a>
              </li>
            </ol>

          </div>

        </li>
        <li class="app-step-nav__step js-step" id="register-company">
          <div class="app-step-nav__header js-toggle-panel" data-position="7">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 8<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Register your company
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-register-company-8">
            <p class="app-step-nav__paragraph">You'll need to register an official address and choose a SIC code - this identifies what your company does.</p>

            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="8.1" class="app-step-nav__link js-link" href="#">Check the rules for company addresses</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="8.2" class="app-step-nav__link js-link" href="#">Check what your SIC code is</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="8.3" class="app-step-nav__link js-link" href="#">Register your company with Companies House</a>
              </li>
            </ol>

            <p class="app-step-nav__paragraph">Most people can register for Corporation Tax at the same time as registering with Companies House.</p>


            <p class="app-step-nav__paragraph">If you cannot, register separately with HM Revenue and Customs (HMRC) after you’ve registered your company with Companies House.</p>

            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="8.1" class="app-step-nav__link js-link" href="#">Register with HMRC for Corporation Tax</a>
              </li>
            </ol>

          </div>

        </li>
      </ol>
    </div>


  </div>

</div>


</div>
</div>
{% endblock %}
