{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you starting a new application?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">

      <h1 class="govuk-heading-xl">{{ data['titleTwo']}} {{ data['firstNameTwo']}} {{ data['middleNameTwo']}} {{ data['lastNameTwo']}} has been invited to verify their identity</h1>

      <p class="govuk-body">We have emailed them a link with instructions on how to verify their identity for Companies House. Once this is done, you will be notified by email.</p>

      <p class="govuk-body">When all the company directors have verified their identity, you can return to this service and continue registering the company.</p>

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}