{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you starting a new application?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">

      <h1 class="govuk-heading-xl">We have contacted ***</h1>

      <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Donec auctor ornare ligula non dapibus. Quisque hendrerit aliquam risus, sed 
        malesuada eros. Nulla rhoncus erat nec iaculis aliquam. Vestibulum id nulla 
        quis sem fermentum placerat. Aenean dictum ac mi a mollis. Suspendisse aliquet 
        pulvinar dictum.</p>

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}