{% extends "layouts/main.html" %}

{% block pageTitle %}
Director details
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorDirectorTwoDetails %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <h1 class="govuk-heading-xl">Enter the director's details</h1>
    
    <form action="{{currentUrl}}" method="post">

      <div class="govuk-form-group">
          <label class="govuk-label" for="titleTwo">
            Professional or honorary title (if relevant)
          </label>
          <div id="titleTwo-hint" class="govuk-hint">
            For example, Mr, Mrs, Miss, Ms, Dr.
        </div>
          <input class="govuk-input govuk-!-width-two-thirds" id="titleTwo" name="titleTwo" type="text">
      </div>

      <!-- Check for error -->
      {% if errorDirectorTwoFirstName%}
        <div class="govuk-form-group govuk-form-group--error">
      {% else %}
        <div class="govuk-form-group">
      {% endif %} 
          <label class="govuk-label" for="firstNameTwo">
            First name
          </label>
          <div id="firstNameTwo-hint" class="govuk-hint">
            Enter the director's full first name.
        </div>
          <!-- Check for error -->
        {% if errorDirectorTwoFirstName %}
          <p id="firstNameTwo-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the director's full first name
          </p>
        {% endif %} 
          <input class="govuk-input govuk-!-width-two-thirds" id="firstNameTwo" name="firstNameTwo" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="middleNameTwo">
          Middle names
        </label>
        <div id="middleNameTwo-hint" class="govuk-hint">
          Enter the director's full middle name or names.
      </div>
          <input class="govuk-input govuk-!-width-two-thirds" id="middleNameTwo" name="middleNameTwo" type="text">
      </div>

      <!-- Check for error -->
      {% if errorDirectorTwoLastName%}
        <div class="govuk-form-group govuk-form-group--error">
      {% else %}
        <div class="govuk-form-group">
      {% endif %} 
          <label class="govuk-label" for="lastNameTwo">
            Last name
          </label>
          <!-- <div id="lastNameTwo-hint" class="govuk-hint">
          Enter last name in full not just initials.
          </div> -->
          <!-- Check for error -->
        {% if errorDirectorTwoLastName %}
          <p id="lastNameTwo-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the director's last name
          </p>
        {% endif %} 
          <input class="govuk-input govuk-!-width-two-thirds" id="lastNameTwo" name="lastNameTwo" type="text">
      </div>

      <!-- Check for error -->
      {% if errorDobDayTwo or errorDobMonthTwo or errorDobYearTwo %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" role="group" aria-describedby="Dob-hint">
          <label class="govuk-label" for="dob">
            Date of birth
          </label>
          <!-- Check for error -->
          {% if errorDobDayTwo or errorDobMonthTwo or errorDobYearTwo %}
          <p id="Dob-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> The date must include a day, month and year
          </p>
          {% endif %} 
          <div id="Dob-hint" class="govuk-hint">
            For example, 27 3 2007
          </div>
          <div class="govuk-date-input" id="Dob">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="Dob-day-two">
                  Day
                </label>
                <!-- Check for error -->
                {% if errorDobDayTwo %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="Dob-day-two" name="Dob-day-two" type="text">
                {% else %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="Dob-day-two" name="Dob-day-two" type="text">
                {% endif %} 
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="Dob-month-two">
                  Month
                </label>
                <!-- Check for error -->
                {% if errorDobMonthTwo %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="Dob-month-two" name="Dob-month-two" type="text">
                {% else %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="Dob-month-two" name="Dob-month-two" type="text">
                {% endif %} 
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="Dob-year-two">
                  Year
                </label>
                <!-- Check for error -->
                {% if errorDobYearTwo %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-input--error" id="Dob-year-two" name="Dob-year-two" type="text">
                {% else %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="Dob-year-two" name="Dob-year-two" type="text">
                {% endif %} 

              </div>
            </div>
          </div>
        </fieldset>
      </div>

        {{ govukInsetText({
          html: '
            <h2 class="govuk-heading-m">What information we&#39;ll show on the public register</h2>
            <p>We will show the director&#39;s full name on the public Companies House register. We will only show the month and year of their date of birth.</p>'
        }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}