{% extends "layouts/main.html" %}

{% block pageTitle %}
Director details
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorProvideUvidOne %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}

    <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
        {% if errorProvideUvidOne %}
          <div class="govuk-form-group govuk-form-group--error">
        {% else %}
          <div class="govuk-form-group">
        {% endif %} 
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--xl" for="provide-uvid-two">
              What is the Companies House user ID for {{ data['titleTwo']}} {{ data['firstNameTwo']}} {{ data['middleNameTwo']}} {{ data['lastNameTwo']}}?
            </label>
          </h1>
          <!-- Check for error -->
          {% if errorProvideUvidOne %}
          <p id="provide-uvid-two-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the Companies House user ID
          </p>
          {% endif %} 
          <input class="govuk-input govuk-input--width-10" id="provide-uvid-two" name="provide-uvid-two" type="text" aria-describedby="provide-uvid-two-hint">
        </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}