{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you starting a new application?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <!-- Check for error -->
      {% if errorDirectorDetails %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}

    <form action="{{currentUrl}}" method="post">

      <h1 class="govuk-heading-xl">Check and confirm director details</h1>

      <div class="govuk-inset-text">
        All information about these directors will appear on the public record, except for their full date of birth and home address.
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">{{ data['titleOne']}} {{ data['firstNameOne']}} {{ data['middleNameOne']}} {{ data['lastNameOne']}}</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Delete director<span class="govuk-visually-hidden"></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['titleOne']}} {{ data['firstNameOne']}} {{ data['middleNameOne']}} {{ data['lastNameOne']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['Dob-day-one'] }} 
                  {{ data['Dob-month-one'] | displayMonth }} 
                  {{ data['Dob-year-one'] }} 
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> dob</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Nationality
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['nationality'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> nationality</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Job title
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['jobTitle'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> job title</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What is the correspondence address for {{ data['titleOne']}} {{ data['firstNameOne']}} {{ data['middleNameOne']}} {{ data['lastNameOne']}}
              </dt>
              <dd class="govuk-summary-list__value">
                10 Old Street<br>Parkland<br>Townville<br>England<br>XX1 ZZ2
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What is the home address for {{ data['titleOne']}} {{ data['firstNameOne']}} {{ data['middleNameOne']}} {{ data['lastNameOne']}}
              </dt>
              <dd class="govuk-summary-list__value">
                The home address is the same as the correspondence address
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> home address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Country the director lives in
              </dt>
              <dd class="govuk-summary-list__value">
                England
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> country lived in</span>
                </a>
              </dd>
            </div>
          </dl>
        </div>
      </div>


      {% if data['firstNameTwo'] %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">{{ data['titleTwo']}} {{ data['firstNameTwo']}} {{ data['middleNameTwo']}} {{ data['lastNameTwo']}}</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Delete director<span class="govuk-visually-hidden"></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['titleTwo']}} {{ data['firstNameTwo']}} {{ data['middleNameTwo']}} {{ data['lastNameTwo']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['Dob-day-two'] }} 
                  {{ data['Dob-month-two'] | displayMonth }} 
                  {{ data['Dob-year-two'] }} 
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> dob</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Nationality
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['nationalityTwo'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> nationality</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Job title
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['jobTitleTwo'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> job title</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What is the correspondence address for {{ data['titleTwo']}} {{ data['firstNameTwo']}} {{ data['middleNameTwo']}} {{ data['lastNameTwo']}}
              </dt>
              <dd class="govuk-summary-list__value">
                25 New Street<br>Lowland<br>Townville<br>England<br>ZZ5 JJ8
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What is the home address for {{ data['titleTwo']}} {{ data['firstNameTwo']}} {{ data['middleNameTwo']}} {{ data['lastNameTwo']}}
              </dt>
              <dd class="govuk-summary-list__value">
                The home address is the same as the correspondence address
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> home address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Country the director lives in
              </dt>
              <dd class="govuk-summary-list__value">
                England
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> country lived in</span>
                </a>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      {% endif %} 

    <p class="govuk-body govuk-!-margin-bottom-9"><b><a class="govuk-link" href="#" class="govuk-link">Add a director</a></b></p>

      <!-- Check for error -->
      {% if errorConfirmDirectorOneAddress %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="directorOneConfrimAddress">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Confirm where the directors live
            </h2>
          </legend>
              <!-- Check for error -->
            {% if errorConfirmDirectorOneAddress %}
            <p id="directorOneConfrimAddress-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>Confirm where the directors live
            </p>
            {% endif %} 
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="directorOneConfrimAddress" name="directorOneConfrimAddress" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label" for="directorOneConfrimAddress">
                I confirm that {{ data['titleOne']}} {{ data['firstNameOne']}} {{ data['middleNameOne']}} {{ data['lastNameOne']}} 
                lives at 10 Old Street, Parkland, Townville, England, XX1 ZZ2.
              </label>
            </div>

            {% if data['firstNameTwo'] %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="directorOneConfrimAddress" name="directorOneConfrimAddress" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label" for="directorOneConfrimAddress">
                I confirm that {{ data['titleTwo']}} {{ data['firstNameTwo']}} {{ data['middleNameTwo']}} {{ data['lastNameTwo']}} 
                lives at 25 New Street, Lowland, Townville, England, ZZ5 JJ8.
              </label>
            </div>
            {% endif %} 
          </div>
        </fieldset>
      </div>

      <!-- Check for error -->
      {% if errorConfirmDirectorsAgree %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="directorsConfirmAgree">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Confirm they agree to become directors
            </h2>
          </legend>
          <!-- Check for error -->
          {% if errorConfirmDirectorsAgree %}
          <p id="directorsConfirmAgree-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>Confirm all persons agree to becoming directors of the company
          </p>
          {% endif %} 
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="directorsConfirmAgree" name="directorsConfirmAgree" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label" for="directorsConfirmAgree">
                {% if data['firstNameTwo'] %}
                  I confirm that the persons named here
                  agree to become directors of the company.
                {% else %} 
                  I confirm that the person named here
                  agrees to become a director of the company.
                {% endif %} 
              </label>
            </div>
          </div>
        </fieldset>
      </div>


      <!-- Check for error -->
      {% if errorDirectorsStatements %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="DirectorsStatements">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Confirm they have verified their identity
            </h2>
          </legend>
          <!-- Check for error -->
          {% if errorDirectorsStatements %}
          <p id="DirectorsStatements-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>Confirm all persons agree to becoming directors of the company
          </p>
          {% endif %} 
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="DirectorsStatements" name="DirectorsStatements" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label" for="DirectorsStatements">
                <p class="govuk-body">I confirm that the following directors have verified their identity for Companies House:</p>
    
                <ul class="govuk-list govuk-list--bullet">
                  <li>{{ data['titleOne']}} {{ data['firstNameOne']}} {{ data['middleNameOne']}} {{ data['lastNameOne']}}</li>
                  {% if data['firstNameTwo'] %}
                    <li>{{ data['titleTwo']}} {{ data['firstNameTwo']}} {{ data['middleNameTwo']}} {{ data['lastNameTwo']}} </li>
                  {% endif %} 
                </ul>
              </label>
            </div>
          </div>
        </fieldset>
      </div>


      {{ govukButton({
        text: "Continue to questions"
      }) }}

    </form>
  </div>
</div>

{% endblock %}