{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  {{ govukTag({
    classes: "govuk-tag--blue govuk-!-margin-bottom-4",
    text: "version 2"
  }) }}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Set up a limited company and register for Corporation Tax <span class="govuk-caption-xl"></span>
      </h1>

      <a href="start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
      </a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="authScreens">Individual screen links</h2>

      <ul class="govuk-list govuk-list--bullet">
    
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="start">Start</a>
        </li>  

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="starting-a-new-application">Are you starting a new application?</a>
        </li>  

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="check-before">Check before you start</a>
        </li>  

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="card-or-paypal">Are you able to pay for this application using a card or PayPal?</a>
        </li>  

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="secure-register">Are any directors or 'persons with significant control' on the Companies House secure register?</a>
        </li>  

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="company-relationship">What is your relationship to the company?</a>
        </li>  

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="sign-in">Sign in to Companies House</a>
        </li>  

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="company-name">Company name</a>
        </li>  

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="company-contact">Company contact</a>
        </li>  

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="replacing">Is the new company replacing another business?</a>
        </li>  

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="have-you-verified">Have all company directors verified their identity and received a Companies House user ID?</a>
        </li>  

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="verification-stop">All company directors need to verify their identity</a>
        </li>  

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="director-one/director-one-details">Director one - Director's details</a>
        </li>  

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="director-one/director-one-uvid">Director one - What is the Companies House user ID for Matt Tomas?</a>
        </li> 

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="director-one/director-one-address">Director one - What is the correspondence address for Matt Tomas</a>
        </li> 

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="director-one/director-one-confirm-address">Director one - Confirm the correspondence address for Matt Tomas</a>
        </li> 

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="director-one/director-one-reminders">Does Matt Tomas want to receive filing reminders by email?</a>
        </li> 

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="add-director">Do you want to add another director?</a>
        </li> 

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="director-two/director-two-details">Director two - Director's details</a>
        </li>  

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="director-two/director-two-uvid">Director two - What is the Companies House user ID for Matt Tomas?</a>
        </li> 

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="director-two/director-two-address">Director two - What is the correspondence address for Matt Tomas</a>
        </li> 

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="director-two/director-two-confirm-address">Director two - Confirm the correspondence address for Matt Tomas</a>
        </li> 

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="check-director-details">Check and confirm director details</a>
        </li> 

      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">User research</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="#">TBD</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">Journey flow</h2>
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1692969688043/ca1ea912acc3289f59b44d07f2a6717753298703?sender=u9bc72e5725f1871777091172">Set up a limited company and register for Corporation Tax - V2 Flow diagrams</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m">
        IDV services
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Links</th>

            <th class="govuk-table__header" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="https://idv-prototype.herokuapp.com/">Register as an Authorised Corporate Service Provider</a>
            </td>
          
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                PROTOTYPE
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="https://prove-your-identity-prototype.herokuapp.com/">How people verify prototype</a>
            </td>
          
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                PROTOTYPE
              </strong>
            </td>
          </tr>
        </tbody>
      </table>




        
    </div>
  </div>





{% endblock %}
