{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you starting a new application?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorSercure %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorSercure %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="newApplication-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
            Are any directors or 'persons with significant control' on the Companies House secure register?
            </h1>
          </legend>
          <div id="secureRegister-hint" class="govuk-hint">
            The secure register is for victims of threatening behaviour or violence who cannot risk having their home address information on the public register.
          </div>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What is a 'person with significant control'?
              </span>
            </summary>
            <div class="govuk-details__text">
              This is someone who has substantial influence over the way the company is run, for example anyone with more than 25% shares or voting rights.
            </div>
          </details>
          <!-- Check for error -->
          {% if errorSercure %}
          <p id="secureRegister-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select yes if you are able to use a card or PayPal
          </p>
          {% endif %} 

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="secureRegister" name="secureRegister" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="secureRegister">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="secureRegister-2" name="secureRegister" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="secureRegister-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}