{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you starting a new application?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">
      <h1 class="govuk-heading-l">All company directors need to verify their identity</h1>

      <p class="govuk-body">Before the company can be registered, all its 
        directors must have verified their identity with Companies House.
      </p>

      <p class="govuk-body">They can do this through a seperate service <a class="govuk-link govuk-link--no-visited-state" href="https://prove-your-identity-prototype.herokuapp.com/v5/pre-one-login/start" target="blank">
        Verify your identity for Companies House service (opens in a new tab)</a>.</b>
      </p>

      <p class="govuk-body">When all company directors have verified their 
        identity, sign back in and continue with your saved application.</p>

      <p class="govuk-body">Once successfully verified, each 
        director will be sent a <strong>Companies House user ID</strong>. They 
        need to share this with you, as you'll be asked to 
        provide it when registering the company.  
      </p>

    </form>
  </div>
</div>

{% endblock %}