{% extends "layouts/main.html" %}

{% block pageTitle %}
Director details
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorUvidOne %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
        {% if errorUvidOne %}
        <div class="govuk-form-group govuk-form-group--error">
        {% else %}
        <div class="govuk-form-group">
        {% endif %} 
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for="uvid-code-one">
            Enter your Companies House user ID?
          </label>
        </h1>
        <div id="uvid-code-one-hint" class="govuk-hint">
          This is a user ID that is issued once a person verifies their 
          identity with Companies House. <br>
          If you don't have a Companies House user 
          ID you will have to <a href="https://prove-your-identity-prototype.herokuapp.com/v5/pre-one-login/start" target="_blank">Verify your identity for Companies House</a> before you can set up a company.
        </div>
        <!-- Check for error -->
        {% if errorUvidOne %}
        <p id="uvid-code-one-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter your Companies House user ID
        </p>
        {% endif %} 
        <input class="govuk-input govuk-!-width-one-third" id="uvid-code-one" name="uvid-code-one" type="text" aria-describedby="uvid-code-one-hint">
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}