{% extends "layouts/main.html" %}

{% block pageTitle %}
Director details
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorUvidOne %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}

    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorUvidOne %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="uvid-code-one-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Do you have a verification share code?
            </h1>
          </legend>
          <div id="uvid-code-one-hint" class="govuk-hint">
            This is a code that is issued once a person completes their identity 
            verification with Companies House.
          </div>
          <!-- Check for error -->
          {% if errorUvidOne %}
          <p id="uvid-code-one-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if you have a Companies House personal code
          </p>
          {% endif %} 

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="uvid-code-one" name="uvid-code-one" type="radio" value="yes" data-aria-controls="conditional-uvid-code-one">
              <label class="govuk-label govuk-radios__label" for="uvid-code-one">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional" id="conditional-uvid-code-one">
              <div class="govuk-form-group">
                <label class="govuk-label" for="uvid-code-one-input">
                  verification share code
                </label>
                <input class="govuk-input govuk-!-width-one-half" id="uvid-code-one-input" name="uvid-code-one-input">
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="uvid-code-one-2" name="uvid-code-one" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="uvid-code-one-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}