{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you starting a new application?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">

      <h1 class="govuk-heading-xl">As a director you will need to verify your identity</h1>

      <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Donec auctor ornare ligula non dapibus. Quisque hendrerit aliquam risus, sed 
        malesuada eros.</p>

      <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Donec auctor ornare ligula non dapibus. <a href="https://prove-your-identity-prototype.herokuapp.com/">Verify your identity for Companies House</a>.</p>

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}