{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you starting a new application?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">

      <h1 class="govuk-heading-xl">You need to verify your identity for Companies House</h1>

      <p class="govuk-body">As a company director, you need to verify your identity to confirm you are who you say you are.</p>

      <p class="govuk-body">Once you've successfully verified your identity, we'll send you a Companies House user ID that you'll need to provide in this service. This will connect your verified identity to our records.</p>

      <p class="govuk-body"><a href="https://prove-your-identity-prototype.herokuapp.com/v5/pre-one-login/start" target="blank">Verify your identity for Companies House (opens in a new tab)</a>.</p>

    </form>

  </div>
</div>

{% endblock %}