{% extends "layouts/main.html" %}

{% block pageTitle %}
  All company directors need to verify their identity
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">
      <h1 class="govuk-heading-l">All company directors and PSCs need to verify their identity</h1>

      <p class="govuk-body">All company directors and people with significant control (PSCs) need to verify their identity with Companies House before you can register this company.</a>
      </p>

      <p class="govuk-body">They can do this using the <a class="govuk-link" href="https://prove-your-identity-prototype.herokuapp.com/release1-v5/pre-one-login/start" target="blank">Verify your identity for Companies House</a> service.</p>


      <p class="govuk-body">When each person has verified their 
        identity, we will give them a Companies House personal code. 
        
      <p class="govuk-body">They need to share this with you, as you'll be asked to provide the personal codes for all directors and PSCs when registering the company.</p>

    </form>
  </div>
</div>

{% endblock %}