{% extends "layouts/main.html" %}

{% block pageTitle %}
  Right to appoint or remove
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorRleRegistered %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorRleRegistered %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="rleRegistered-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Is {{ data['rleName']| uppercase }} registered in the UK?
            </h1>
          </legend>
          <!-- Check for error -->
          {% if errorRleRegistered %}
          <p id="rleRegistered-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if the corporate body is registered
          </p>
          {% endif %} 

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rleRegistered" name="rleRegistered" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="rleRegistered">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rleRegistered-2" name="rleRegistered" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="rleRegistered-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}