{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm PSc address
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Check if there is a value in 'pscFirstName'. if there is we know the user has filled out the psc details so we can show the second psc -->
    {% if data['pscFirstName'] %}
      <h1 class="govuk-heading-l">Confirm the correspondence address for {{ data['pscTitle']}} {{ data['pscFirstName']}} {{ data['pscMiddleName']}} {{ data['pscLastName']}}</h1>
    {% else %}
      <h1 class="govuk-heading-l">Confirm the correspondence address for {{ data['directorTitle']}} {{ data['directorFirstName']}} {{ data['directorMiddleName']}} {{ data['directorLastName']}}</h1>
    {% endif %}

    <p class="govuk-body">55 New Street<br>Woodland<br>Townville<br>England<br>XY1 YY2</p>

    <p class="govuk-body govuk-!-margin-bottom-9"><a href="#" class="govuk-link govuk-link--no-visited-state">Change</a></p>

    <form action="{{currentUrl}}" method="post">

      {{ govukButton({
        text: "Confirm and continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}