{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the relevant officer's details? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Check and confirm shareholder and shares</h1>

    <form action="{{currentUrl}}" method="post">

      <h2 class="govuk-heading-m">Shareholders</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How many shares does {{ data['directorTitle']}} {{ data['directorFirstName']}} {{ data['directorMiddleName']}} {{ data['directorLastName']}} own?
          </dt>
          <dd class="govuk-summary-list__value">
            1
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Howmany shares does {{ data['shareholderFirstName']}} {{ data['shareholderLastName']}} own?
          </dt>
          <dd class="govuk-summary-list__value">
            1
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How many shares does {{ data['shareholderCorporateName']}} own?
          </dt>
          <dd class="govuk-summary-list__value">
            1
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
      </dl>

      <p class="govuk-body govuk-!-margin-bottom-9">
        <a href="#" class="govuk-link">Edit or remove shareholders</a>.
      </p>

      <h2 class="govuk-heading-m">Share value</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Value of each share
          </dt>
          <dd class="govuk-summary-list__value">
            £1.00
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
      </dl>

      <p class="govuk-body">
        <a href="#" class="govuk-link">Add another share type with a different value</a>.
      </p>

      <div class="govuk-inset-text">
        We'll assume that each shareholder has paid the value of their shares to the company. If they haven't, they'll need to do so.
      </div>

      <h2 class="govuk-heading-m">Company shares</h2>

      <p class="govuk-body">The company has a total of 3 ordinary share(s) with a total value of £3.00 in British pounds.</p>

      <p class="govuk-body">They give the shareholders full rights to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>vote on company issues in general meetings ('voting rights')</li>
        <li>receive dividend payments ('diviodend rights')</li>
        <li>receive capital or assets if the company closes down ('participation rights')</li>
      </ul>

      {{ govukButton({
        text: "Confirm and continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
