{% extends "layouts/main.html" %}

{% block pageTitle %}
  Do you want to add another director?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorTypeShareholder %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorTypeShareholder %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="typeShareholder-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What type of shareholder would you like to add?
            </h1>
          </legend>
          <!-- Check for error -->
          {% if errorTypeShareholder %}
          <p id="typeShareholder-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if you want to add another shareholder
          </p>
          {% endif %} 

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="typeShareholder" name="typeShareholder" type="radio" value="person">
              <label class="govuk-label govuk-radios__label" for="typeShareholder">
                A shareholder that is a person
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="typeShareholder-2" name="typeShareholder" type="radio" value="company">
              <label class="govuk-label govuk-radios__label" for="typeShareholder-2">
                A shareholder that is a company (corporate shareholder)
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}