{% extends "layouts/main.html" %}

{% block pageTitle %}
  Right to appoint or remove
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorShareholderAddress %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorShareholderAddress %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="shareholderAddress-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is the address for {{ data['shareholderFirstName'] }} {{ data['shareholderLastName'] }}?
            </h1>
          </legend>

          <p class="govuk-body">You can use a business or home address and it doesn't have to be in the UK.</p>

          <p class="govuk-body">This address will be publicly available on the Companies House online register.</p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                I don't want my home address to be publicly available
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">If you don't want to use your home address, you can use a business address service. You'll 
                need their permission and they usually charge a fee.</p>

              <p class="govuk-body">Learn more about
                  <a href="#" class="govuk-link">how your personal information is used</a> on the Companies House online public register and <a href="#" class="govuk-link">how to protect your home address</a>.</p>
            </div>
          </details>


          <!-- Check for error -->
          {% if errorShareholderAddress %}
          <p id="shareholderAddress-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select the address of the shareholder
          </p>
          {% endif %} 

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="shareholderAddress" name="shareholderAddress" type="radio" value="address">
              <label class="govuk-label govuk-radios__label" for="shareholderAddress">
                55 New Street, Woodland, Townville, England, XY1 YY2
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="shareholderAddress-2" name="shareholderAddress" type="radio" value="different_address">
              <label class="govuk-label govuk-radios__label" for="shareholderAddress-2">
                A different address
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}