{% extends "layouts/main.html" %}

{% block pageTitle %}
  Give us one or more ways to contact
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorCompanyContact %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <h1 class="govuk-heading-l">Give us one or more ways to contact {{ data['companyName']}} {{ data['companyEnding']}}</h1>

      <p class="govuk-body">We will only do this if we have questions about the company's incorporation.</p>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="companyNumber">
            Contact number
          </label>
        </h1>
        <div id="companyNumber-hint" class="govuk-hint">
          Give a mobile number, if you have one
        </div>
        <input class="govuk-input" id="companyNumber" name="companyNumber" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label" for="companyEmail">
          Email address
        </label>
        <input class="govuk-input" id="companyEmail" name="companyEmail" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label" for="companyOtherNumber">
          Other contact number
        </label>
        <input class="govuk-input" id="companyOtherNumber" name="companyOtherNumber" type="text">
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}