{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you want to add another director?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorAnotherDirector %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <h1 class="govuk-heading-xl">You have one director {{ data['companyRelationship'] }}</h1>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Lead tenant</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Age
              </dt>
              <dd class="govuk-summary-list__value">
                38
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                  Change<span class="govuk-visually-hidden"> age</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Nationality
              </dt>
              <dd class="govuk-summary-list__value">
                UK national resident in UK
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                  Change<span class="govuk-visually-hidden"> nationality</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Working situation
              </dt>
              <dd class="govuk-summary-list__value">
                Part time – less than 30 hours a week
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                  Change<span class="govuk-visually-hidden"> working situation</span>
                </a>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Person 2</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Details known
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                  Change<span class="govuk-visually-hidden"> whether details are known</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Relationship to lead tenant
              </dt>
              <dd class="govuk-summary-list__value">
                Partner
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                  Change<span class="govuk-visually-hidden"> relationship to lead tenant</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Age
              </dt>
              <dd class="govuk-summary-list__value">
                42
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                  Change<span class="govuk-visually-hidden"> age</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Working situation
              </dt>
              <dd class="govuk-summary-list__value">
                Unable to work because of long-term sickness or disability
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                  Change<span class="govuk-visually-hidden"> working situation</span>
                </a>
              </dd>
            </div>
          </dl>
        </div>
      </div>



      <!-- Check for error -->
      {% if errorAnotherDirector %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="anotherDirector-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you want to add another director?
            </h1>
  
          </legend>
          <!-- Check for error -->
          {% if errorAnotherDirector %}
          <p id="anotherDirector-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select yes if you need to add another director
          </p>
          {% endif %} 

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="anotherDirector" name="anotherDirector" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="anotherDirector">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="anotherDirector-2" name="anotherDirector" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="anotherDirector-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}