{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your relationship to the company?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorRelationship %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorRelationship %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="companyRelationship-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
            What is your relationship to the company?
            </h1>
  
          </legend>
          <!-- Check for error -->
          {% if errorRelationship %}
          <p id="companyRelationship-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select your relationship to the company
          </p>
          {% endif %} 

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="companyRelationship" name="companyRelationship" type="radio" value="director">
              <label class="govuk-label govuk-radios__label" for="companyRelationship">
                Company director
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="companyRelationship-2" name="companyRelationship" type="radio" value="secretary">
              <label class="govuk-label govuk-radios__label" for="companyRelationship-2">
                Company secretary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="companyRelationship-3" name="companyRelationship" type="radio" value="acsp">
              <label class="govuk-label govuk-radios__label" for="companyRelationship-3">
                Companies House authorised agent
              </label>
              <div id="companyRelationship-3-hint" class="govuk-hint govuk-radios__hint">
                This is a business, such as an accountant or solicitor, that has registered as an authorised agent with Companies 
                House. The business must be registered in the UK and supervised for Anti-Money Laundering (AML) purposes. 
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="companyRelationship-4" name="companyRelationship" type="radio" value="accountant">
              <label class="govuk-label govuk-radios__label" for="companyRelationship-4">
                Agent - for example, an accountant
              </label>
              <div id="companyRelationship-3-hint" class="govuk-hint govuk-radios__hint">
                You cannot register new businesses if you are not a Companies House authorised agent. Continue to register as an authorised agent. 
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}