{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you starting a new application?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorAddDirector %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- If contact details for second director added we know to display it. -->
      {% if data['contactDirector'] %}
      <h1 class="govuk-heading-xl">You have added two directors</h1>
      {% else %}
      <h1 class="govuk-heading-xl">You have added one director</h1>
      {% endif %}

      <div class="govuk-summary-card"> 
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Director 1</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link govuk-body" href="#">
                Remove director<span class="govuk-visually-hidden"> from list of directors</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                Paul Robinson
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                20 January 1988
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Verification status
              </dt>

              <!-- If verification statement one has been ticked status is complete -->
              {% if data['verification-Statement-one'] %}
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--green">
                  VERIFIED
                </strong>
              </dd>
              {% else %}
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--red">
                  NOT VERIFIED
                </strong>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-!-font-weight-bold" href="director-one/director-one-provide-uvid">
                  Complete verification<span class="govuk-visually-hidden"> code</span>
                </a>
              </dd>
              {% endif %}
            </div>
          </dl>
        </div>
      </div> 

      <!-- If contact details for second director added we know to display it. -->
      {% if data['contactDirector'] %}
        <div class="govuk-summary-card"> 
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Director 2</h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action"> <a class="govuk-link govuk-body" href="#">
                  Remove director<span class="govuk-visually-hidden"> from list of directors</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['titleTwo']}} {{ data['firstNameTwo']}} {{ data['middleNameTwo']}} {{ data['lastNameTwo']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['Dob-day-two'] }} 
                  {{ data['Dob-month-two'] | displayMonth }} 
                  {{ data['Dob-year-two'] }} 
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Verification status
                </dt>

                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--green">
                    VERIFIED
                  </strong>
                </dd>
              </div>
            </dl>
          </div>
        </div> 
      {% endif %}

      <!-- Check for error -->
      {% if errorAddDirector %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="addDirector-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you want to add another director?
            </h1>
          </legend>
          <!-- Check for error -->
          {% if errorAddDirector %}
          <p id="addDirector-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if you want to add another director
          </p>
          {% endif %} 

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="addDirector" name="addDirector" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="addDirector">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="addDirector-2" name="addDirector" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="addDirector-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}