{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you starting a new application?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorAnotherDirector %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <h1 class="govuk-heading-xl">You have added 3 directors</h1>


      <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Donec auctor ornare ligula non dapibus. Quisque hendrerit aliquam risus, sed 
        malesuada eros.</p>

        <p class="govuk-body"> Quisque hendrerit aliquam risus, sed 
          malesuada eros.</p>


      <!-- <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{ data['title']}} {{ data['firstName']}} {{ data['middleName']}} {{ data['lastName']}}</th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
              CODE PROVIDED
            </strong></td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Joe Bloggs</th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">
              CODE NOT PROVIDED
            </strong></td>
            <td class="govuk-table__cell">
              <a class="govuk-link" href="#">
                Provide code<span class="govuk-visually-hidden"> name</span>
              </a></td>
          </tr>
        </tbody>
      </table> -->

       <div class="govuk-summary-card"> 
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Director 1</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Remove director<span class="govuk-visually-hidden"> from list of directors</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['title']}} {{ data['firstName']}} {{ data['middleName']}} {{ data['lastName']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                28 August 1965
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Companies house personal code
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--green">
                  PROVIDED
                </strong>
              </dd>
            </div>
          </dl>
        </div>
      </div> 

      <div class="govuk-summary-card"> 
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Director 2</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Remove director<span class="govuk-visually-hidden"> from list of directors</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                Beth Smith
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                10 July 2000
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Companies house personal code
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--green">
                  PROVIDED
                </strong>
              </dd>
            </div>
          </dl>
        </div>
      </div> 

      <div class="govuk-summary-card"> 
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Director 3</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Remove director<span class="govuk-visually-hidden"> from list of directors</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                  Joe Bloggs
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                01 September 1985
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Companies house personal code
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--red">
                  NOT PROVIDED
                </strong></td>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="uvid.html">
                  Provide code<span class="govuk-visually-hidden"> code</span>
                </a>
              </dd>
            </div>
          </dl>
        </div>
      </div> 
      

      <!-- Check for error -->
      {% if errorAnother %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="addAnother-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
            Do you want to add another director?
            </h1>
          </legend>
          <div id="addAnother-hint" class="govuk-hint">
            <p class="govuk-body"> Quisque hendrerit aliquam risus, sed 
              malesuada eros.</p>
          </div>
          <!-- Check for error -->
          {% if errorAnother %}
          <p id="addAnother-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select yes if you are able to use a card or PayPal
          </p>
          {% endif %} 

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="addAnother" name="addAnother" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="addAnother">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="addAnother-2" name="addAnother" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="addAnother-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}