{% extends "layouts/main.html" %}

{% block pageTitle %}
Director details
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Confirm the correspondence address for {{ data['titleTwo']}} {{ data['firstNameTwo']}} {{ data['middleNameTwo']}} {{ data['lastNameTwo']}}</h1>

    <p class="govuk-body">25 New Street<br>Lowland<br>Townville<br>England<br>ZZ5 JJ8</p>

    <p class="govuk-body govuk-!-margin-bottom-9"><a href="#" class="govuk-link">Change</a></p>

    <form action="{{currentUrl}}" method="post">

      {{ govukButton({
        text: "Confirm and continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}