{% extends "layouts/main.html" %}

{% block pageTitle %}
Director details
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorDirectorTwoAddress %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <h1 class="govuk-heading-xl">What is the correspondence address for {{ data['titleTwo']}} {{ data['firstNameTwo']}} {{ data['middleNameTwo']}} {{ data['lastNameTwo']}}</h1>

    <p class="govuk-body">We'll use this address to send notifications to 
      the director. You can use a business or home address and it doesn't 
      have to be in the UK.</p>

    <p class="govuk-body">This address will be publicly available on the Companies House online register.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          I don't want my home address to be publicly available
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>If you don't want to use your home address, you can use a business address service. You'll need their permission and they usually change a fee.</p>
        <p>Learn more about <a href=''>how your personal information is used</a> on the Companies House online public register and <a href=''>how to protect your home address</a>.</p>
      </div>
    </details>

    <p class="govuk-body"><a href="#" class="govuk-link"></a></p>

    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorDirectorTwoAddress%}
        <div class="govuk-form-group govuk-form-group--error">
      {% else %}
        <div class="govuk-form-group">
      {% endif %} 
          <label class="govuk-label" for="postcodeTwo">
            UK postcode
          </label>
          <!-- Check for error -->
        {% if errorDirectorTwoAddress %}
          <p id="postcodeTwo-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the postcode.
          </p>
        {% endif %} 
          <input class="govuk-input govuk-input--width-10" id="postcodeTwo" name="postcodeTwo" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="propertyNameTwo">
          Property name or number (optional)
        </label>
        <div id="propertyNameTwo-hint" class="govuk-hint">
          For example, 'The Mill', '116' or 'Flat 37a'
        </div>
        <input class="govuk-input govuk-input--width-5" id="propertyNameTwo" name="propertyNameTwo" type="text">
      </div>

      <p class="govuk-body"><a href="#" class="govuk-link">Enter address manually</a></p>
      
      {{ govukButton({
        text: "Find address"
      }) }}

    </form>
  </div>
</div>

{% endblock %}