{% extends "layouts/main.html" %}

{% block pageTitle %}
Director details
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorUvidTwo %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">


      <!-- Check for error -->
      {% if errorUvidTwo %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for="uvid-code-two">
            What is the Companies House user ID for {{ data['titleTwo']}} {{ data['firstNameTwo']}} {{ data['middleNameTwo']}} {{ data['lastNameTwo']}}?
          </label>
        </h1>
        <div id="uvid-code-two-hint" class="govuk-hint">
          This is a code that is issued once a person has verified their identity for Companies House. 
        </div>
        {% if errorUvidTwo %}
        <p id="uvid-code-two-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter your Companies House user ID
        </p>
        {% endif %} 
        <input class="govuk-input govuk-!-width-one-half" id="uvid-code-two" name="uvid-code-two" type="text">
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I don't have a Companies House user ID for {{ data['titleTwo']}} {{ data['firstNameTwo']}} {{ data['middleNameTwo']}} {{ data['lastNameTwo']}}
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>If you don't have the Companies House user ID for {{ data['titleTwo']}} {{ data['firstNameTwo']}} {{ data['middleNameTwo']}} {{ data['lastNameTwo']}} you will have tell them that the need to verify their identity with Companies House before they can be a director.</p>
          <p class="govuk-body"><a class="govuk-link" href="https://prove-your-identity-prototype.herokuapp.com/v5/pre-one-login/start" target="blank">Verify your identity for Companies House (opens in a new tab)</a>.</p>
        </div>
      </details>

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}