{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you starting a new application?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorRemindersTwo %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorRemindersTwo %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="remindersTwo-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Does {{ data['titleTwo']}} {{ data['firstNameTwo']}} {{ data['middleNameTwo']}} {{ data['lastNameTwo']}} want to receive filing reminders by email?
            </h1>
          </legend>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What are filing reminders?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>We will remind you when your company's confirmation statement and 
                accounts are due for filing.</p><p>Reminders will be sent to the 
                  company by post, unless you sign up to receive by email instead.</p>
            </div>
          </details>
          <!-- Check for error -->
          {% if errorRemindersTwo %}
          <p id="remindersTwo-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if the director wants to recieve filing reminders
          </p>
          {% endif %} 

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="remindersTwo" name="remindersTwo" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="remindersTwo">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="remindersTwo-2" name="remindersTwo" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="remindersTwo-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}