{% extends "layouts/main.html" %}

{% block pageTitle %}
  Right to appoint or remove
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorRleRAddress %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorRleRAddress %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="rleAddress-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is the address for {{ data['rleName']| uppercase }}?
            </h1>
          </legend>
          <!-- Check for error -->
          {% if errorRleRAddress %}
          <p id="rleAddress-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select the address of the corporate body
          </p>
          {% endif %} 
          <div class="govuk-inset-text">
            Use the principal place of business or registered office address of the corporate PSC.
          </div>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rleAddress" name="rleAddress" type="radio" value="address">
              <label class="govuk-label govuk-radios__label" for="rleAddress">
                55 New Street, Woodland, Townville, England, XY1 YY2
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rleAddress-2" name="rleAddress" type="radio" value="different_address">
              <label class="govuk-label govuk-radios__label" for="rleAddress-2">
                A different address
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}