{% extends "layouts/main.html" %}

{% block pageTitle %}
Why is the name different?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="{{currentUrl}}" method="post">
      <h1 class="govuk-heading-l">Why is the name you've provided different to the name this person used for identity verification?</h1>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="pscWhyThisName-hint">       
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">

          </legend>
          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pscWhyThisName" name="pscWhyThisName" type="radio" value="marriage">
              <label class="govuk-label govuk-radios__label" for="pscWhyThisName">
                Legally changed name (for example, marriage or divorce)
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pscWhyThisName-2" name="pscWhyThisName" type="radio" value="preferred name">
              <label class="govuk-label govuk-radios__label" for="pscWhyThisName-2">
                Preferred name    
              </label>
            </div>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pscWhyThisName-3" name="pscWhyThisName" type="radio" value="legal">
              <label class="govuk-label govuk-radios__label" for="pscWhyThisName-3">
                Translation or a different naming convention 
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pscWhyThisName-4" name="pscWhyThisName" type="radio" value="prefer">
              <label class="govuk-label govuk-radios__label" for="pscWhyThisName-4">
                  Prefer not to say
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

      
    </form>
  </div>
</div>

{% endblock %}
